[Desktop Entry]
Type=Application
Name=Vectrace
GenericName=Screen Marker & Annotation Tool
Comment=Agnostic vector screen marker and drawing overlay for X11 & Wayland
Exec=vectrace
Icon=vectrace
Terminal=false
Categories=Graphics;Utility;VectorGraphics;ScreenCapture;
Keywords=screen;marker;draw;annotate;presentation;wayland;x11;
StartupNotify=false
